<section class="projects-container">
  <button class="add-project" (click)="addProject()">
    <img
      class="add-project-logo"
      src="/assets/icons/add-project.svg"
      alt="Add user icon"
    />
  </button>
  <ul class="project-list">
    <li class="project" *ngFor="let project of projects$ | async">
      <div class="name-wrapper">
        <h3 class="name">{{ project.name }}</h3>
        <p>#{{ project._id }}</p>
      </div>
      <p>description: {{ project.description }}</p>
      <p>status: {{ project.status }}</p>
      <p>date created: {{ project.dateCreated | date: "medium" }}</p>
      <button (click)="delete(project._id!)">Delete</button>
      <button (click)="viewDetails(project._id!)">View details</button>
    </li>
  </ul>
</section>
