@import "src/styles/abstracts/variables";

.projects-container {
  background-color: $main-background;
  width: 100%;
  min-height: 100%;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 3rem;
  gap: 2rem;
}

.project {
  width: 100%;
  max-width: 80rem;
  min-height: 15rem;
  padding: 2rem;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.name-wrapper {
  display: flex;
  gap: 3rem;
}

.name {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
