<section class="projects-container">
  <button class="add-project" (click)="addProject()">
    <img
      class="add-project-logo"
      src="/assets/icons/add-project.svg"
      alt="Add user icon"
    />
  </button>
  <ul class="project-list">
    <li class="project" *ngFor="let project of projects$ | async">
      <div class="top-row">
        <div class="name-wrapper">
          <h3 class="name">{{ project.name }}</h3>
          <p>#{{ project._id }}</p>
        </div>
        <div class="status-container">
          <div ngClass="status-icon-{{ project.status }}"></div>
          <p>{{ project.status | titlecase }}</p>
        </div>
      </div>
      <div class="details-container">
        <div class="details-wrapper">
          <p class="description">{{ project.description }}</p>
          <p>
            <span class="bolder">Project Manager:</span>
            {{ project.members.projectManager.name }}
            {{ project.members.projectManager.surname }}
          </p>
          <p>
            <span class="bolder">Date created:</span>
            {{ project.dateCreated | date: "mediumDate" }}
          </p>
        </div>
        <div class="button-container">
          <button (click)="viewDetails(project._id!)">
            <img
              class="details"
              src="/assets/icons/details.svg"
              alt="User detail icons"
              title="View user details"
            />
          </button>
          <button (click)="delete(project._id!)">
            <img
              class="delete"
              src="/assets/icons/delete.svg"
              alt="Delete user icons"
              title="Delete user"
            />
          </button>
        </div>
      </div>
    </li>
  </ul>
</section>
