<div class="edit-project-container">
  <div class="form-container">
    <h2 class="title">Edit Project</h2>
    <form *ngIf="managers.length" [formGroup]="editProject" class="form">
      <div class="flex-row">
        <div class="input-container">
          <label for="status">Status</label>
          <ng-multiselect-dropdown
            *ngIf="statusOptions.length"
            name="status"
            [placeholder]="'Select Status'"
            formControlName="status"
            [settings]="dropdownSettingsSingleSelect"
            [data]="statusOptions"
          ></ng-multiselect-dropdown>
        </div>
        <div class="input-container">
          <label for="manager">Project Manager</label>
          <ng-multiselect-dropdown
            *ngIf="managers.length"
            name="manager"
            [placeholder]="'Select Project Manager'"
            formControlName="manager"
            [settings]="dropdownSettingsSingleSelect"
            [data]="managers"
          ></ng-multiselect-dropdown>
        </div>
      </div>
      <div class="flex-row">
        <div class="input-container">
          <label for="developers">Developers</label>
          <ng-multiselect-dropdown
            *ngIf="developers.length"
            name="developers"
            [placeholder]="'Select Developers'"
            formControlName="developers"
            [settings]="dropdownSettings"
            [data]="developers"
          ></ng-multiselect-dropdown>
        </div>
        <div class="input-container">
          <label for="quality-assurance">Quality Assurance</label>
          <ng-multiselect-dropdown
            *ngIf="qualityAssuranceMembers.length"
            name="quality-assurance"
            [placeholder]="'Select Quality Assurance'"
            formControlName="qualityAssurance"
            [settings]="dropdownSettings"
            [data]="qualityAssuranceMembers"
          ></ng-multiselect-dropdown>
        </div>
      </div>
      <div class="button-container">
        <button class="cancel-btn" (click)="onCancel()">Cancel</button>
        <button class="edit-btn" (click)="onSubmit()">Update Project</button>
      </div>
    </form>
  </div>
</div>
