@import "./variables";

@mixin box-styles($padding: false) {
  border-radius: $border-radius;
  background-color: $main-background;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  @if $padding {
    padding: $padding;
  } @else {
    padding: 2rem;
  }
}

@mixin label-required {
  font-weight: 500;
  position: relative;

  &::after {
    content: "*";
    position: absolute;
    margin-left: 4px;
  }
}

@mixin label {
  font-weight: 500;
}
