$main-background: #ffffff;
$secondary-background: #f4f6f9;
$hover-menu-color: #f4f4f4;

$primary-color: #0995e7;
$primary-color-darker: #0c7de4;
$primary-color-svg: invert(41%) sepia(97%) saturate(3085%) hue-rotate(179deg)
  brightness(102%) contrast(93%);
$delete-color-svg: invert(12%) sepia(91%) saturate(7183%) hue-rotate(5deg)
  brightness(95%) contrast(118%);
$white-color-svg: invert(100%) sepia(0%) saturate(1%) hue-rotate(16deg)
  brightness(106%) contrast(100%);

$green-status: rgb(61, 237, 4);
$red-status: rgb(237, 4, 4);
$orange-status: rgb(237, 189, 4);
$yellow-status: rgb(230, 237, 4);

$border-radius: 5px;
