<app-layout>
  <div class="dashboard">
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
    <div>BLA</div>
  </div>
</app-layout>
<router-outlet></router-outlet>
