<section class="profile-container">
  <div *ngIf="user" class="content-wrapper">
    <div class="user">
      <img
        class="avatar"
        src="{{ user.avatarUrl }}"
        alt="User profile picture"
      />
      <h2 class="user-name">{{ user.name }} {{ user.surname }}</h2>
      <div class="user-info">
        <p>Role: {{ roles[user.role] }}</p>
        <p>Seniority: {{ user.seniority | titlecase }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Date registered: {{ user.dateRegistered | date: "mediumDate" }}</p>
      </div>
      <button *ngIf="!isPasswordEditActive" (click)="togglePasswordEdit()">
        Edit password
      </button>
      <form
        *ngIf="isPasswordEditActive"
        [formGroup]="editPassword"
        class="edit-password"
      >
        <label for="current-password">Current password</label>
        <input
          id="current-password"
          type="text"
          formControlName="currentPassword"
        />
        <label for="new-password">New password</label>
        <input id="new-password" type="text" formControlName="newPassword" />
        <label for="repeat-new-password">Repeat new password</label>
        <input
          id="repeat-new-password"
          type="text"
          formControlName="repeatNewPassword"
        />
        <button type="button" (click)="togglePasswordEdit()">Cancel</button>
        <button class="edit-password-submit">Submit</button>
      </form>
    </div>
  </div>
</section>
