@import "src/styles/abstracts/mixins";

:host {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}

.members-wrapper {
  @include box-styles;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: auto;
}

.role-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.member {
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.details-container {
  display: flex;
  gap: 1.5rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: lightblue;
}

.name {
  font-weight: 600;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.details {
  height: 2rem;

  &:hover {
    filter: $primary-color-svg;
  }
}

.delete {
  width: 2rem;

  &:hover {
    filter: $delete-color-svg;
  }
}
