@import "src/styles/abstracts/variables";
:host {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
}

.navbar {
  height: 5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: $navigation-background;
  padding: 0.5rem;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  width: 19.5rem;
  background-color: lightskyblue;
}

.user-wrapper {
  height: 100%;
  width: 30rem;
  background-color: lightskyblue;
}
