<div class="sidebar">
  <div class="sections">
    <img class="logo" src="/assets/icons/dashboard.svg" alt="Dashboard icon" />
    Dashboard
  </div>
  <div class="sections">
    <img
      class="logo"
      src="/assets/icons/projects.svg"
      alt="Projects icon"
    />Projects
  </div>
  <div class="sections">
    <img class="logo" src="/assets/icons/users.svg" alt="Users icon" />Users
  </div>
  <div class="sections">
    <img
      class="logo"
      src="/assets/icons/profile.svg"
      alt="Profile icon"
    />Profile
  </div>
</div>
