@import "src/styles/abstracts/variables";

:host {
  min-height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.sidebar {
  width: 20rem;
  height: 100%;
  background-color: transparent;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
  padding: 2rem 0.5rem;
}

.section {
  display: flex;
  margin: 1.5rem 0;
  height: 4rem;
  border-radius: $border-radius;
  //cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $primary-color;
  }
}

.link {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  margin-right: 1rem;
  width: 2.5rem;
}
