@import "src/styles/abstracts/mixins";

.ticket-members-container {
  @include box-styles;
  width: 100%;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.member-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: auto;
  height: 30rem;
  flex-grow: 1;
}

.member {
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.details-container {
  display: flex;
  gap: 1.5rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: lightblue;
}

.name {
  font-weight: 600;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.details {
  height: 2rem;

  &:hover {
    filter: $primary-color-svg;
  }
}

.delete {
  width: 2rem;

  &:hover {
    filter: $delete-color-svg;
  }
}
