<div class="create-ticket-container">
  <div class="form-container">
    <h2 class="title">Create Ticket</h2>
    <form [formGroup]="createTicket">
      <div class="input-container">
        <label for="ticket-name">Name</label>
        <input id="ticket-name" type="text" formControlName="name" />
        <div
          class="error-msg"
          *ngIf="
            createTicket.controls['name'].invalid &&
            createTicket.controls['name'].touched
          "
        >
          Name is required
        </div>
      </div>
      <div class="input-container">
        <label for="ticket-description">Description</label>
        <input
          id="ticket-description"
          type="text"
          formControlName="description"
        />
        <div
          class="error-msg"
          *ngIf="
            createTicket.controls['description'].invalid &&
            createTicket.controls['description'].touched
          "
        >
          Description is required
        </div>
      </div>
      <div class="input-container">
        <label for="ticket-type">Ticket type</label>
        <select name="ticket-type" id="ticket-type" formControlName="type">
          <option *ngFor="let type of ticketTypes" value="{{ type.value }}">
            {{ type.name }}
          </option>
        </select>
      </div>
      <div class="input-container">
        <label for="ticket-priority">Ticket priority</label>
        <select
          name="ticket-priority"
          id="ticket-priority"
          formControlName="priority"
        >
          <option
            *ngFor="let priority of ticketPriorities"
            value="{{ priority.value }}"
          >
            {{ priority.name }}
          </option>
        </select>
      </div>
      <div class="button-container">
        <button class="cancel-btn" (click)="onCancel()">Cancel</button>
        <button class="create-btn" (click)="onSubmit()">Create Ticket</button>
      </div>
    </form>
  </div>
</div>
